p{
    font:15px;
    color:red  
}

h1{
    font:40px;
    color:green;
}

.uppercase{
    text-transform:uppercase;
}

.cursive{
    font-family: cursive;
}

#blog-desc{
    color:#314831;
}

#blog-title:hover{
    color:orange;
}

li{
    color:grey;
}
#bckgd-img{
    height:100vh;
    width:100vw;
    background-image:url("https://ninjasfiles.s3.amazonaws.com/0000000000001486.jpeg");
    background-attachment: fixed;
}